.projects-page {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px;
}

.new-project-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.import-project-container {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
  align-items: flex-start;
}

.projects-list {
  li {
    margin: 16px;
  }
}

.projects-page-accordion {
  width: 100%;
  h3 button {
    width: 100%;
    cursor: pointer;
  }
}

.project-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  button {
    height: 24px;
  }
}
