.projects-page {
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

.projects-list {
  li {
    margin: 16px;
  }
}

.projects-page-accordion {
  width: 100%;
  h3 button {
    width: 100%;
    cursor: pointer;
  }
}
