:root {
  --bright-yellow: #d9c925;
  --dim-yellow: #d9c9256e;
}

main {
  margin: 0 auto;
  text-align: center;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  color: var(--bright-yellow);
}

a:visited {
  color: var(--bright-yellow);
}

input[type="file"],
button {
  background-color: var(--bright-yellow);
  color: #000;
}

button {
  cursor: pointer;
  position: relative;

  &[aria-expanded="true"]:after {
    content: "-";
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 36px;
    height: 44px;
  }

  &[aria-expanded="false"]:after {
    content: "+";
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 36px;
    height: 44px;
  }
}